<div id="chart">
  <div id="plot-target" class="plot-container" style="width: {{ plot_width }}px; height: {{ plot_height }}px;">
    <span>Loading...</span>
  </div>

  <script type="application/json" id="running-balance-data">{{running_balance_data|json|safe}}</script>
  <script type="application/json" id="character-info">{{characters|json|safe}}</script>
  <script type="application/json" id="plot-width">{{plot_width|json|safe}}</script>
  <script type="application/json" id="plot-height">{{plot_height|json|safe}}</script>

  <script type="module" src="/static/js/wallet-graph.js"></script>
</div>
