<div id="chart">
  <style>
    fieldset {
      max-width: 600px;
    }
  </style>

  <form hx-get="/wallet-graph" hx-trigger="change" hx-target="#chart" hx-push-url="true">
    <fieldset>
      <legend>Wallet owners</legend>
      {% for char in characters %}
      <input
        type="checkbox"
        name="character_ids"
        id="character-{{ char.character_id }}"
        value="{{ char.character_id }}"
        {% if selected_character_ids.contains(char.character_id) %}
          checked
          {% if selected_character_ids.len() == 1 %}
            disabled
          {% endif %}
        {% endif %}
        autocomplete="false"
      />
      <label for="character-{{ char.character_id }}">{{ char.character_name }}</label>
      {% endfor %}

      {# disabled controls aren't included in the form data, so add the value of the potentially disabled field above #}
      {% if selected_character_ids.len() == 1 %}
        <input type="hidden" name="character_ids" value="{{ selected_character_ids[0] }}" />
      {% endif %}
    </fieldset>
  </form>

  <p>
    Stacked chart of total liquid ISK over the last 30 days for all selected characters.
  </p>

  <div hx-get="/wallet-graph/chart?{{ selected_character_ids|multi_qs("character_ids") }}" hx-trigger="load">
    <div class="plot-container" style="width: {{ plot_width }}px; height: {{ plot_height }}px;">
      Loading...
    </div>
  </div>
</div>
