<div id="content">
  <style>
    fieldset {
      max-width: 600px;
    }
  </style>

  <form hx-get="/market-history/table" hx-trigger="change, input from find [name=search]"
    hx-target="#market-history-table">
    <fieldset>
      <legend>Character</legend>
      {% for char in characters %}
      <input
        type="radio"
        name="character_id"
        id="character-{{ char.character_id }}"
        value="{{ char.character_id }}"
        {% if char.character_id == selected_character_id %}
          checked
        {% endif %}
        autocomplete="false"
      />
      <label for="character-{{ char.character_id }}">{{ char.character_name }}</label>
      {% endfor %}
    </fieldset>
    <fieldset>
      <legend>Filters</legend>
      <p>
        <label for="search">Item Name</label>
        <input type="search" value="{{ search_query|or("") }}" name="search" placeholder="Search" autocomplete="false"
          hx-trigger="input delay:500ms" />
      </p>
      <p>
        <radio-group name="type">
          <label for="type">Transaction type</label>
          <input type="radio" name="type" id="type-either" {% if transaction_type|opt_eq("either") %}checked{% endif %}
            autocomplete="false" />
          <label for="type-either">Either</label>
          <input type="radio" name="type" id="type-buy" value="buy" {% if transaction_type|opt_eq("buy") %}checked{% endif
            %} autocomplete="false" />
          <label for="type-buy">Buy</label>
          <input type="radio" name="type" id="type-sell" value="sell" {% if transaction_type|opt_eq("sell") %}checked{%
            endif %} autocomplete="false" />
          <label for="type-sell">Sell</label>
        </radio-group>
      </p>
    </fieldset>
  </form>

  <style>
    td,
    th {
      padding: 0.1em 1em;
      text-align: left;
    }

    td.right,
    th.right {
      text-align: right;
    }
  </style>

  <div id="market-history-table" hx-trigger="load" hx-get="{{ table_url }}">
    Loading...
  </div>
</div>
