{% extends "layout.html" %}

{% block content %}
<h2>Market History</h2>

<style>
  .dt {
    font: 'monospace';
  }

  .dt-date {
    font-weight: bold;
  }

  .dt-time {
    opacity: 0.55;
  }
</style>

{% include "market_history/content.html" %}
{% endblock %}
