<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Buy?</th>
      <th>Item</th>
      <th class="right">Unit Price</th>
      <th class="right">Quantity</th>
      <th class="right">Total</th>
    </tr>
  </thead>
  <tbody>
    {% for transaction in transactions %}
      <tr>
        <td>{{ transaction.date|eve_date_time()|safe() }}</td>
        <td>{% if transaction.is_buy %}Buy{% else %}Sell{% endif %}</td>
        <td>{{ type_names.get(transaction.type_id)|or(transaction.type_id) }}</td>
        <td class="right">{{ transaction.unit_price }}</td>
        <td class="right">x{{ transaction.quantity }}</td>
        <td class="right">{{ transaction.total_price }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
