{% extends "layout.html" %}

{% block content %}

<div>
  {% for char in character_info %}
  <div>
    <img src="https://images.evetech.net/characters/{{ char.character_id }}/portrait?size=64"
      alt="{{ char.character_name }}'s portrait">
    <div>{{ char.character_name }}</div>
    <div>{{ char.character_id }}</div>  
  </div>
  {% endfor %}
</div>

<p>
  Add characters:
<a href="/auth/signin" hx-boost="false">
  <img src="/static/images/eve-sso-login-black-small.png" alt="Login with EVE SSO">
</a>
</p>

{% endblock %}
