:root {
    --background-dark: #0f0122;
    --background-light: #ebe5e1;

    --title-color-dark: #F806CC;
    --title-color-light: #11009E;

    --body-text-dark: #f2e9fc;
    --body-text-light: #0e072c;

    --accent-color-dark: #A91079;
    --accent-color-light: #0f0122;

    --secondary-text-dark: #ff9e20;
    --secondary-text-light: #290a5c;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.75em;
    padding: .25em 0;
}

h1, h2 {
    text-align: center;
    max-width: 50%;
    margin: auto;
}

body.dark  {
    background-color: var(--background-dark);
    color: var(--body-text-dark);
}

body.dark h1, body.dark h2 {
    color: var(--title-color-dark);
    text-shadow: 3px 2px var(--accent-color-dark);
}

nav {
    text-align: center;
    margin-bottom: 2em;
}
 nav a{
    display: inline-block;
    text-decoration: none;
    color: var(--secondary-text-dark);
    font-size: 1.5em;
    padding-top: .5em;
    padding-right: 1em;
 }

 nav a:last-child{
    padding-right: 0;
 }

form {
    margin: 2em auto;
}

/* reset for plot charts */
figure {
    margin: 0;
}

.fancy-border {
    border-style: solid;
    border-width: 0px;
    border-left-width: .15em;
    border-right-width: .15em;
    border-image: linear-gradient(#EA047E, #FF6D28, #FCE700, #00F5FF) 1;
}

.plot-container {
    display: inline-block;
    padding: 1em;
    background: var(--background-light);
    color: var(--body-text-light);
    margin: 1em 0;
}
